<title>Cem Yigit's application</title>
  <h1>Hello! This program takes 4 inputs. First (list1) and second boxes (list2) are for arraylists. Third box takes string. Lastly fourth box takes int value.
  The way how program works:
  - It adds all the elements in list1.
  - Then it subtracts all of the elements of list2 from the result which came from the first step.
  - It multiplys the result with the "int" which is the input from the fourth box.
  - If the string is "multiply". The program will multiply the result with 2. If it is not it gives the output of third step.
  
  </h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
