<title>Cem Yigit's homework application</title>
  <h1>Hello, World!</h1> 
  
  <p>
  This program takes 4 inputs. First (list1) and second boxes (list2) are for arraylists. Third and fourth box takes strings.<br>
  The way how program works:<br>
    1. It appends the strings which are in boxes 3 and 4. (3 comes first and then 4)<br>
    2. The program will append the characters whose indexes are stored in the arraylist1 at the end of the string which comes from step1. (First Box)<br>
    REMINDER: Please put the numbers in box1 as each line contains one number.<br>
    3. Lastly program will append the integers in the second box again at the end of the modified string from step2.<br>
  <p>
  
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
