<title>Cem Yigit's homework application</title>
  <h1>Hello! This program takes 4 inputs. First (list1) and second boxes (list2) are for arraylists. Third and fourth box takes strings.
  The way how program works:
    1. It appends the strings which are in boxes 3 and 4. (3 comes first and then 4)
    2. The program will erase the characters which are stored in the arraylist1 (First Box).
    3. Lastly program will append the integers in the second box to the modified string from step2.


  
  
  </h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
